@model electronics_shop_mvc_1.Models.Product

@{
    ViewData["Title"] = "Details";
    string productImage = Model.ProductImage;
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <img src="~/uploads/@productImage" alt="Product Image" height="750" width="750"/>
        @* <img src="@productImage" alt="Product Image" class="img-fluid"/> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDiscount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDiscount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MultiUnitDiscount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MultiUnitDiscount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Configure">Back to List</a>
</div>
